html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Open Sans'
}
.navbar {
    max-height: 60px;
}



.navbar-brand { 
    font-family: 'Oswald'; 
    font-size: 40px;
    color: white;
}

h5 {
    font-family: 'Oswald'; 
    font-size: 50px;
    font-weight: 400;
}

h5 span {
    font-weight: 700;
}

.container.top {
    margin-top: 81px;
}

h4 {
    font-family: 'Open Sans'; 
    font-size: 30px;
}

i {
    font-size: 50px;

}

h3 {
    font-size: 25px;
    }

footer i {
    font-size: 40px;
    }

footer h5 {
    font-size: 40px;
}    
    
.icon-section {
    min-width: 100%;
}